body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Poppins' ,sans-serif;
}

p {
	margin: 0;	
}

button:focus {
	outline: inherit;
	outline-offset: inherit;
}
/* variable css */

:root {
	--first-color: #07a2b0;
	--second-color: #d9ecc7;
}

/* Menu */

header {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: var(--first-color);
	background:#07a3b2;
	background: linear-gradient(45deg, #07a3b2, #d9ecc7);
	z-index: 3;
}

nav {
	display: flex;
	padding: 0 10px;
	width: calc(100% - 20px);
	max-width: 1080px;
	z-index: 4;
}

nav img {
	width: 50px;
	margin: 10px 20px 10px 0;
}

nav ul {
	display: flex;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	display: flex;
	margin-right: 20px;
	height: 100%;
}

nav a {
	position: relative;
	line-height: 1em;
	text-decoration: none;
	color: white;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 10px;
}

/* Burger Menu */

.burger-wrapper {
	display: flex;
	align-items: center;
}

.burger-menu {
	cursor: pointer;
	z-index: 1;
	display: none;
	width: 32px;
	height: 32px;
	position: relative;
	margin-right: 30px;
	margin-left: 20px;
	background: none;
	border: none;
}

.burger-menu span {
	display: block;
	background-color: var(--second-color);
	height: 2px;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -2px;
	transform-origin: 50% 50%;
	transition: all 0.3s ease-out 0.3s, transform 0.3s ease-in;
}

.burger-menu span:first-child {
	top: 20%;
}

.burger-menu span:last-child {
	top: 80%;
}

.burger-menu.show span {
	top: 50%;
	transition: all 0.3s ease-in, transform 0.3s ease-out 0.3s;
}

.burger-menu.show span:nth-child(2) {
	-webkit-transform: scale(0);
	transform: scale(0);
}

.burger-menu.show span:first-child {
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.burger-menu.show span:last-child{ 
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}

ul.show {
	display: block;
	transform: translateX(0);
	transition: all 0.2s ease-in, transform 0.2s ease-out 0.2s;
}

@media (max-width: 767px) {
	.burger-menu{
		display: block;
	}

	nav ul {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: auto;
		height: calc(100% - 83px);
		margin-top: 80px;
		transform: translateX(-100%);
		background-color: var(--first-color);
		transition: all 0.3s ease-out 0.3s, transform 0.3s ease-in;
		z-index: 3;
	}

	nav ul.show {
		display: block;
		transform: translateX(0);
		transition: all 0.3s ease-in, transform 0.3s ease-out 0.3s;
	}

	nav ul li {
		height: auto;
		padding: 15px 10px;
	}


}

@media (min-width: 768px) {
	nav a::before {
		content: "";
		width: 0;
		height: 5px;
		left: 50%;
		top: 0;
		position: absolute;
		transition: all 0.2s linear;
		background: var(--second-color);
	}

	nav a:hover::before {
		width: 100%;
		left: 0;
	}
}

/* Fin Menu */


/* site content */

.corps {
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	
	/* background: content-box radial-gradient(crimson, skyblue); */
}

.site_content {
	position: relative;
	display: block;
	max-width: 1080px;
	width: calc(100% - 20px);
	padding: 10px;
	background: #fff;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.head {
	margin-bottom: 20px;
}

@media (max-width: 767px) {
	.head h1 {
		font-size: 25px;
	}

	.head p {
		font-size: 12px;
	}

	.content h2 {
		font-size: 18px;
	}
}

@media (max-width: 500px) {
	.head h1 {
		font-size: 20px;
	}
	
	.content h2 {
		font-size: 16px;
	}
}


/* Cards */

.cards-list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

.event-card {
	width: calc(50% - 10px);
	display: block;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
	list-style: none;
	margin-bottom: 20px;
	position: relative;
}

.event-card:nth-child(2n - 1) {
	margin-right: 10px;
}

.event-card:nth-child(2n) {
	margin-left: 10px;
}

.event-card a {
	text-decoration: none;
	color: black;
	display: flex;
}

.event-card:hover {
	box-shadow: 0 0 10px 0 rgba(7, 162, 176, 0.5);
}

.event-card-container-img {
	position: relative;
	width: 200px;
	margin-right: 20px;
}

.event-card-img {
	padding-bottom: 100%;
	position: relative;
	background-position: center;
	background-size: cover;
}

.event-card-img img {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

.event-content-card {
	display: block;
	padding: 5px;
	width: calc(100% - 200px);
	height: 100%;
}

.event-card-title{
	color: var(--first-color);
	margin: 0 0 10px 0;
}

.event-card-date {
	color: #5c5c5c;
	font-size: 0.9em;
}

.event-card-chapo {
	margin-top: 15px;
	font-size: 14px;
}

@media (max-width: 1023px) {
	.event-card {
		width: 100%;
	}
	
	.event-card:nth-child(2n - 1) {
		margin-right: 0;
	}

	.event-card:nth-child(2n) {
		margin-left: 0;
	}
}

@media (max-width: 767px) {
	.event-card-title {
		font-size: 16px;
	}

	.event-card-chapo {
		margin-top: 10px;
	}
}

@media (max-width: 500px) {
	.event-card a {
		display: block;
	}

	.event-card-container-img {
		width: 100%;
		margin: 0;
	}

	.event-card-img {
		padding-bottom: 60%;
	}

	.event-content-card {
		width: calc(100% - 20px);
		padding: 10px;
	}

	.event-card .followbutton {
		left: inherit;
		right: 15px;
	}
}

/* follow button */

.followbutton {
	background-color: var(--first-color);
	border: none;
	position: absolute;
	top: 15px;
	left: 15px;
	width: 32px;
	height: 32px;
	z-index: 2;
	padding: 2px 3px 3px 3px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	transition-duration: 0.4s;
	opacity: 0.8;
}

.followbutton:hover {
	transition-duration: 0.4s;
	opacity: 1;
}

.followbutton img {
	width: 75%;
}
